// Import the custom MaterializeCSS importer
// When compiled this will sum up everything in this file
// It also allows for usage of Materialize stuff inside this file like variables
// And override Materialize rules
@import "m";

// wrapper for the wrapper for the preloader
// Center any element inside its parent using some hacky rules
// (Works pretty well when the window is resized too)
.preloader-wrapper-wrapper {
    position: absolute;
    display: inline-block;

    // Translate the element so that its top left corner position becomes its center position
    transform: translate(-50%, -50%);

    // Move it to the center of the parent, with the translation done above the element will be perfectly
    // in the center of the parent
    top: 50%;
    left: 50%;
}

// wrapper for the wrapper for the preloader, horizontal version (without absolute positioning)
// Center any element inside its parent horizontally
.preloader-wrapper-wrapper-hor {
    // Translate the element so that its left side becomes its center
    transform: translate(-50%);

    // Move it to the center of the parent horizontally using margin
    margin-left: 50%;
}

// Wrapper for the wrapper for the wrapper for the preloader
// Covers the page's content with a white background
.preloader-wrapper-wrapper-wrapper {
    background-color: white;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
}

// Wrapper for the wrappers, for the mod details component
// Media query required to account for the height change of the header caused by Materialize
#mod-details .preloader-wrapper-wrapper-wrapper {
    position: absolute;
    height: calc(100% - 56px);
    // col s8 means 8 out of 12
    width: calc(100% * 8 / 12);
}
@media #{$medium-and-up} {
    #mod-details .preloader-wrapper-wrapper-wrapper {
        height: calc(100% - 64px);
    }
}

// Blue border for the list, to help seperate the content
#mods-list {
    border-right: solid 2px color("blue", "base");
}

// A flexbox container that equally distributes its space between its child elements
.flex-equal-box {
    display: flex;
}
.flex-equal-box > * {
    flex: 1 1 0;
}
.flex-equal-box.marginated > * {
    margin: auto 5px;
}

.fixed-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 500;
}

// Light blue waves effect
// The color used there is different from the Materialize "blue" color
// But I think it looks better for this particular effect
.waves-blue .waves-ripple {
    background-color: rgba(0, 170, 255, 0.70);
}

// Removes unneeded padding, ignore chips, card titles/footers,
// collection items, collapsibles and .keep-padding elements
// Even worse, all those :not selectors have to be on one line to work
.col,
.col div:not(.chip):not(.keep-padding):not(.card-title):not(.collection-item):not(.card-action):not(.collapsible):not(.collapsible-header):not(.collapsible-body),
.row .col {
    padding: 0;
}

// Remove the focus background color
.keyboard-focused div.collapsible-header:focus {
	background-color: inherit;
}

// Move the search options collapsible towards the top, and make it less squished horizontally
div.collection div.row {
	margin: -1px;
	margin-top: -10px;
}

// Using !important to enforce full height, always
.full-height {
    height: 100% !important;
}

// Using !important to enforce full width, always
.full-width {
    width: 100% !important;
}

.full-size {
    @extend .full-width, .full-height ;
}

// Force hide
.hidden {
	display: none !important;
}

// Force invisibility
.invisible {
	visibility: hidden;
}

// Force absolute positioning
.absolute {
    position: absolute !important;
}

.transparent {
	opacity: 0%;
}

.opaque {
	opacity: 100%;
}

// Resize the app element to cover the entire page
#app {
    height: 100vh;
}

// Resize the app view to cover the rest of the page below the header
// Since Materialize changes the header's size based on media queries we need to adjust to that too
#app-view {
    height: calc(100% - 56px);
}
@media #{$medium-and-up} {
    #app-view {
        height: calc(100% - 64px);
    }
}

// A custom slider caption that appears in the bottom left corner
// Still gets animated with a fade, but no translation
.slider .slides li div.custom-caption {
    position: absolute;
    bottom: 20px;
    color: white;
    left: 20px;
}

// Override Materialize's margin
div.row, div.collection {
    margin: 0px;

    // Override Materialize's default text colors and font size
    a.collection-item {
        color: black;
        font-size: 13px;
    }

    a.collection-item.active {
        [type=checkbox].filled-in:not(:checked):not(:disabled) + span:not(.lever):after {
            border: 2px solid white;
        }
    
        [type=checkbox].filled-in:checked:not(:disabled) + span:not(.lever):after {
            border: 1px solid white;
        }
    
        // Always 1px border for disabled checkboxes, otherwise they look ugly
        [type=checkbox].filled-in:not(:checked):disabled + span:not(.lever):after {
            border: 1px solid white;
        }
    
        [type=checkbox].filled-in:checked:disabled + span:not(.lever):after {
            border: 1px solid white;
        }
    }
}

// Override Materialize's default hover background
.collection a.collection-item:not(.active):hover {
    background-color: #eee;
}

div.progress {
    background-color: rgba(106, 184, 247, 0.5);
    height: 25px;
    margin: 0px;
}

div.progress > div {
    height: 25px;
}

ul.tabs {
    // Force the tab underline to cover the full width of the tabs container
    // Important is required since the line is animated via JS and the rule is added directly to the element
    .indicator {
        left: 0px !important;
        width: 100%;
    }

    // Always display the "focused" background color on active tabs
    li.tab a.active {
        background-color: rgba(106, 184, 247, 0.2);
    }

    // Change the text color for disabled tabs so that its more apparent that its disabled
    li.tab a.disabled {
        color: rgba(33, 150, 243, 0.2);
    }

    // Remove the "focused" background color from unactive focused tabs
    li.tab a:not(.active):focus {
        background-color: transparent;
    }
}

// An infinite size class for Materialize cards that removes the size limit
div.card.infinite {
    height: auto;
}

// Override Materialize's margin
div.card {
    margin: 0px;

    div.card-title {
        padding: 24px;
    }

    // Show the title as bold so that its more apparent
    div.card-title .title {
        font-size: 26px;
        font-weight: bold;
    }

    // Show the description a bit lighter
    div.card-title .description {
        font-size: 22px;
        font-weight: lighter;
    }
}

// Remove Materialize's shadow from any element
// !important used to make sure this will override everything else
*.no-shadow {
    box-shadow: unset !important;
}

// Show the scrollbar for the mods list and the mod details div elements if the content is too long to fit
#mods-list, #mod-details {
    overflow-y: auto;
}

*::-webkit-scrollbar-thumb {
    min-height: 3rem;
    background-clip: padding-box;
    background-color: #00aeff;
}

// Hide the scrollbar up & down buttons and the scrollbar corners
*::-webkit-scrollbar-button, *::-webkit-scrollbar-corner {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: #00aeff;
}
